body {
	margin: 0;
	padding: 0;
}

button {
	display: block;
}

section {
	width: 33%;
	float: left;
}

	section + section {
		border-left: 1px solid #eee;
	}

	section > * {
		margin-left: 20px;
	}

#section-question-info article {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	border-bottom: 1px dotted #eee;
}