body {
	margin: 0;
	padding: 0;
}

button {
	display: block;
	width: 90%;
	padding: 10px;
	text-align: left;
	border: 0 solid;
	margin-bottom: 10px;
}

h2 {
	background: #555;
	margin: 0 0 20px;
	padding: 10px 20px;
	color: #fff;
}

h3 {
	margin-top: 0;
}

section {
	width: 33%;
	float: left;
}

	section + section {
		border-left: 1px solid #eee;
	}

	section > *:not(:first-child) {
		margin-left: 20px;
	}

#section-question-info article {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	border-bottom: 1px dotted #eee;
}