/* 
 * Buttons
 */

.button {
	@extend %display-inline-block;
	@extend %padding--half;
	@extend %background-color--change;

	border: 0;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 700;
	font-size: inherit;
	line-height: 1;

	&:hover {
		text-decoration: none;
	}

	&:visted {
		background-color: inherit;
		//color: inherit;
	}
}

.button--green {
	@extend .button;
	
	background-color: $green;
	color: #FFF;

	&:hover, &:active, &:visited {
		color: #FFF !important;
		background-color: $orange !important;
	}
}

.button--orange {
	@extend .button;
	
	background-color: $orange;
	color: #FFF;

	&:hover, &:active, &:visited {
		background-color: $green;
	}
}


%button--white__base {
	@extend .button;
	
	background-color: #FFF;

	&:hover, &:active {
		color: #FFF !important;
	}

}

.button--white {
	@extend %button--white__base;
	
	outline: 1px solid $orange;
	color: $orange;

	&:visited {
		color: $orange !important;
	}

	&:hover, &:active {
		background-color: $orange;
	}
}

.button--white--alt {
	@extend %button--white__base;
	
	outline: 1px solid $green;
	color: $green;

	&:visited {
		color: $green !important;
	}

	&:hover, &:active {
		background-color: $green;
	}
}

%button--transparent__base {
	@extend .button;
	
	background-color: transparent;

	&:hover, &:active, &:visited {
		color: #FFF;
	}
}

.button--transparent {
	@extend %button--transparent__base;
	
	outline: 1px solid $green;
	color: $green;

	&:visited {
		color: $green !important;
	}

	&:hover, &:active {
		background-color: $green;
	}
}

.button--transparent--alt {
	@extend %button--transparent__base;
	
	outline: 1px solid $orange;
	color: $orange;

	&:visited {
		color: $orange !important;
	}

	&:hover, &:active {
		background-color: $orange;
	}
}

%cta--button {
	@extend .button;

	outline: 1px solid #FFF;
	background-color: rgba(255,255,255,.01);
	color: #FFF;

	&:visited {
		color: #FFF;
	}

	&:hover, &:active {
		background-color: rgba(255,255,255,1);
	}

}

.cta--button {
	@extend %cta--button;

	&:hover, &:active {
		color: $base !important;
	}
}

.cta--button--green {
	@extend %cta--button;

	&:hover, &:active {
		color: $green !important;
	}
}

.cta--button--orange {
	@extend %cta--button;

	&:hover, &:active {
		color: $orange !important;
	}
}

