/* 
 * Polls
 */

%poll-animations {
	@include allChange;
}

.poll--question {
	@extend %padding--verticals; 

	legend {
		font-weight: 700;
	}
}

%pointer {
	cursor: pointer;
}

%poll__row {
	position: relative;
	margin-bottom: $default-space--smaller;
	background-color: $dark;
}



.poll--question__fieldset {
	@extend %poll-animation;
	@extend %pointer;
	@extend %poll__row;

	&:hover {
		.poll--question__label {

			color: $aqua;
		}
	}
}

.poll--question__radio {
	@extend %poll-animation--2;
	@extend %input-shared__appearance;
	@extend %pointer;

	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	min-height: 2.500em;
	width: 2.500rem;
	height: 100%;
	opacity: 0;

	&:checked {
		font-weight: 700;
		cursor: auto;

		& + label {
			background-color: $aqua;
			cursor: auto;
			color: #000;
			font-weight: 700;

			&:before {
				background-color: $blue;
				color: #FFF;
			}
		}
	}

	&:hover {
		&:checked {

			& + label {
				color: #000;
			}
		}	
	}

	& + label {

		padding-left: 2.500rem + $default-space--smaller;


		&:before {
			@extend %padding--verticals;
			@include glyph;

			background-color: rgba(255,255,255,.2);
			height: 100%;
			color: $aqua;
			content: "o";
			position: absolute;
			width: 2.500rem;
			left: 0;
			padding-left: .1rem;
			top: 0;
			line-height: 1.4rem;
			height: 100%;
			text-align: center;
			font-size: 1rem;
			display: inline-block;
		}


	}
}

.poll--question__label {
	@extend %poll-animations;
	@extend %padding--verticals;
	@extend %poll-animation--2;
	@extend %pointer;

	display: block;
	color: #FFF;
}

.poll--question__button {
	@extend %poll-animations;
	@extend %margin-top--2x;
	@extend %padding;
	@extend .upper;
	
	background-color: $blue;
	font-weight: 700;
	color: #FFF;
	display: block;
	width: 100%;
	
	&:hover {
		background-color: $aqua;
		color: #000;
	}
}
