/** 
 * Display Results
 */
.display-results--small-font {
	font-size: .4rem;
}

%height-for-tables {
	height: 100%;
}


.container__wrap--results {
	margin: 0 .25rem;
	height: 100vh;
}

.title--display-results {
	@extend %title-base;
	color: #FFF;
	padding: .25rem 0 1rem;
}

/*
					<h2 class="title--display-results">
						<span class="title__question">
							Question here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quia quos perspiciatis fugit velit provident impedit hic sapiente voluptatum ad.
						</span>

						<span class="title__sub color--blue">
							<span class="color--white">###</span> Responses
						</span>
					</h2>

*/
.display-result {
	@extend %height-for-tables;
}

.display-result__intro {
	@extend %table-cell;
}

.display-result__content {
	@extend %table-cell;
	@extend %height-for-tables;

	position: relative;
}

.poll--display-results { //container
	@extend %table-setup;
	height: 80%;
}


.poll--display-results__items {
	@extend %table-setup;
	@extend %height-for-tables;
}

.poll--display-results__items__item {
	display: table-row;
	width: 100%;
}

.poll--display-results__items__item {
	height: 20%;
}

.poll--display-results__items__item--alt {
	display: table-row;
	height: 8%;
	width: 100%;
}

.poll--display-results__result { // row
	@extend %table-cell;

	vertical-align: middle;
	position: relative;
}

.poll--display-results__result-title {
	padding-top: .5rem;
	vertical-align: top;
	color: $aqua;
	font-size: 1rem;
}

.poll--display-results__result__bar {
	@extend %height-for-tables;

	height: 100%;
	background-color: $dark;
	position: absolute;
	top: .5rem;
	border-bottom: .25rem solid #000;
	width: 100%;
}

.poll--display-results__result__bar__amount {
	@include allChange;
	padding-left: .25rem;
	padding-right: .25rem;
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	height: 100%;
	font-size: 1.2rem;
	background-color: $aqua;
	&[style*="width: 0%"] {
		padding-right: 0 !important;
	}
}


.poll--display-results__result__bar__amount__vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #000;
	//text-shadow: 0.063em 0.063em 0 $aqua, -0.063em -0.063em 0 $aqua, 0 0.063em 0 $aqua, 0 -0.063em 0 $aqua, -0.063em 0 0 $aqua, 0.063em 0 0 $aqua, 0 0.063em 0 $aqua;

}


.poll--display-results__result__text {
	@extend %padding-bottom;

	padding-top: $default-space--smallest;
	display: block;
}