/* 
 * Custom Font and Glyphs
 */

 @font-face {
	font-family: 'Custom';
	src:url('../fonts/HBN-Custom.eot?1o0ywe');
	src:url('../fonts/HBN-Custom.eot?#iefix1o0ywe') format('embedded-opentype'),
		url('../fonts/HBN-Custom.woff?1o0ywe') format('woff'),
		url('../fonts/HBN-Custom.ttf?1o0ywe') format('truetype'),
		url('../fonts/HBN-Custom.svg?1o0ywe#HBN-Custom') format('svg');
	font-weight: normal;
	font-style: normal;
}

%glyph, .glyph {
	@include glyph;
}

/*
[class^="icon--"], [class*=" icon--"] {
	@extend %glyph;
}

.icon--check:before {
	content: "\58";
}
.icon--desktop:before {
	content: "\2a";
}
.icon--circle:before {
	content: "\6f";
}
.icon--search:before {
	content: "\3e";
}
.icon--uniE600:before {
	content: "\4d";
}
.icon--uniE601:before {
	content: "\6d";
}
.icon--list:before {
	content: "\3d";
}
*/