@mixin clear-after {
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}

@mixin glyph {
	font-family: 'Custom';
	speak: none;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@mixin allChange($duration: 300ms, $timing: ease-in-out, $delay: 0) {
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
  transition-property: all;
}